*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
}
.conteiner{
    margin: 20px 0;
    border: 3px solid black;
    width: 500px;
}
svg{
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
h2{
    padding: 20px;
    font-size: 30px;
    color: rgb(195, 12, 12);
}
p{
    padding: 10px 10px;
    color: grey;
}

.circle-1 {
    fill: red;
    fill-opacity: 0.5;
}
.circle-2 {
    fill: blue;
    fill-opacity: 0.5;
}
.circle-3 {
    fill: yellow;
    fill-opacity: 0.5;
}

img{
    display: block;
    width: 300px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

input{
    width: 25px;
    border-radius: 20px;
}